<div class="row">
    <div class="one-item nm col-md-1 date"><%= item.time%></div>
    <div class="one-item nm col-md-1 articul"><%= item.articul%></div>
    <div class="one-item nm col-md-3 item_name"><%= item.item_name%></div>
    <div class="one-item nm col-md-2 name"><%= item.name%></div>
    <div class="one-item nm col-md-1 price"><%= item.price%></div>
    <div class="one-item nm col-md-4 url"><%= item.url%></div>
</div>