<div class="row">
    <div class="one-item nm col-md-2 date"><%= item.time%></div>
    <div class="one-item nm col-md-3 name"><%= item.name%></div>
    <div class="one-item nm col-md-2 price"><%= item.price%></div>
    <div class="one-item nm col-md-5 url"><a href="<%= item.url%>"><%= item.url%></a></div>
</div>