<div class="table-row">
    <div class="col-item size-1 date"><%= item.time%></div>
    <div class="col-item size-2 name"><%= item.name%></div>
    <div class="col-item size-1 price"><%= item.price%></div>
    <div class="col-item size-1 url"><a href="<%= item.url%>" target="_blank"><%= item.url%></a></div>
</div>