<div class="row">
    <div class="one-item id col-xs-1"><%= item.id%></div>
    <div class="one-item articul col-xs-2"><input id="c_articul" value="<%= item.articul%>"/></div>
    <div class="one-item name col-xs-4"><input id="c_name" value="<%= item.name%>"/></div>
    <div class="one-item brand col-xs-2"><input id="c_brand" value="<%= item.brand%>"/></div>
    <div class="one-item price col-xs-1"><input id="c_price" value="<%= item.price%>"/></div>
    <div class="one-item action col-xs-2"><button class="save">Save</button></div>
</div>