<div class="row">
    <div class="one-item articul col-xs-1"><%= item.id%></div>
    <div class="one-item name col-xs-2"><%= item.articul%></div>
    <div class="one-item brand col-xs-4"><%= item.name%></div>
    <div class="one-item supplier col-xs-2"><%= item.brand%></div>
    <div class="one-item price col-xs-1"><%= item.price%>$</div>
    <div class="one-item action col-xs-2"><button>Delete</button></div>
</div>